<div class="container col-5">
  <h2 class="my-4">Objetos @Input</h2>
  <ul>
    <li>Objeto del padre: <br> <pre>{{ Equipo | json }}</pre></li>
    <li>Objeto2 del padre: <br> <pre>{{ Heroe | json }}</pre></li>
  </ul>
</div>